@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,200&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    border: none;
    scroll-behavior: smooth;
}
:root {
    --primary-color: red;
    --secondary-color: #E02C6D;
    --text-color: #3A3A3A;
}

html {
    overflow-x: hidden;
}

/* NavBar decoration style */
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 85px;
    color: var(--text-color);
}

.menu > a {
    color: var(--text-color);
    font-weight: 600;
    margin-left: 2rem;
}

.menu > a:hover,
.menu > a.active {
    color: var(--secondary-color);
}


/* Hero Section Related Style */

.hero-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hero-image-section {
    position: relative;
    /* background-color: red;
    height: 300px;
    width: 300px; */
}
.hero-image1 {
    position: absolute;
    /* background-color: green;
    height: 300px;
    width: 300px; */

}